::ng-deep .idm-modal {
    height: 100%;
    width: 100%;
    min-height: calc(100% - 22px);
    top: 0px;
    margin-top: 0px;
    .modal-content {
        height: 100%;
        .modal-header {
            padding: 15px;
        }
        .modal-body-wrapper {
            max-height: 100% !important;
            height: calc(100% - 100px);
            overflow: hidden;
            margin-left: 12px;
            .modal-body {
                height: 100%;
            }
        }
        .modal-buttonset {
            position: absolute;
            bottom: -10px;
            margin-top: 0px;
            margin-bottom: 10px;
            right: 0;
            left: 0;
        }
    }
}
